:root{
    --primary: #fff;
    --bg-color:rgb(5, 53, 61);
    --bg-envelope-color: #f5edd1;
    --envelope-tab: #ecdeb8;
    --envelope-cover: #e6cfa7;
    --shadow-color: â˜ rgba(0, 0, 0, 0.2);
    --txt-color:#444;
    --heart-color: rgb(252, 8, 231);
}
.container > .envelope-wrapper{

    background: var(--bg-envelope-color);
    
    box-shadow: 0 0 40px var(--shadow-color);
    
}
    
.container > .envelope-wrapper > .envelope{
    
    position: relative;
    
    width: 300px;
    
    height: 230px;
    
    }
    
.container > .envelope-wrapper > .envelope::before{
    content: '';
    position: absolute;
    z-index: 2;
    border-top: 130px solid var(--envelope-tab);
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    top: 0;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
}
.container > .envelope-wrapper > .envelope::after{
    content: '';
    position: absolute;
    z-index: 2;
    border-top: 130px solid transparent;
    border-left: 150px solid var(--envelope-cover);
    border-right: 150px solid var(--envelope-cover);
    border-bottom: 100px solid var(--envelope-cover);
    bottom: 0;
}
    
.letter{
    position: absolute;
    right: 20%;
    bottom: 0;
    width: 54%;
    height: 80%;
    background: var(--primary);
    transition: all is ease-in-out;
    padding: 20x 10px;
    box-shadow: 0 0 10px var(--shadow-color);
}
.letter > .text{
    font-family: cursive;
    font-size: 15px;
    color: var(--txt-color);
    text-align: left;
}
.heart{    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background: var(--heart-color);
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 0 10px var(--shadow-color);
    cursor:pointer;
}
.heart::before,
.heart::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: var(--heart-color);
    border-radius: 50%;
}

.heart::before{
top: -15px;
}

.heart::after{
right: 15px;
}

.flap > .envelope::before{

    z-index: -5;
    
    transform: rotateX(180deg); }
    
    .flap > .envelope .letter{
    
    bottom: 100px;
    z-index: 2;
    transform: scale(1.5);
    transition:ease-in-out;
    transition-duration: 0.5s;
     transition-delay: 1s;
    
    }
    
    .flap > .heart{
    
    transform: rotate(90deg);
    
    transition-delay: 0.4s;
    
    }
